production:
  environment: production
  merchant_id: production_merchant_id
  public_key:  production_public_key
  private_key: production_private_key
development:
  environment: sandbox
  stripe: {
    merchant_id: development_merchant_id,
    public_key: production_public_key,
    private_key: production_private_key
  }
  paypal: {
    merchant_id: development_merchant_id,
    public_key: production_public_key,
    private_key: production_private_key
  }
